*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html,body{
    margin: 0;
}



#container{
    background-color: #393E46;
    padding-bottom: 60px;
    text-align: center;
    padding-top: 80px;
}

#dice-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}
    
    

h1{
    font-size: 8rem;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
    font-family: 'Lobster', cursive;
    
    
}

.flag{
    width: 200px;
    display:none;
    
}
    
h2{
    font-family: 'Indie Flower', cursive;
    color: #4ECCA3;
    
}


